// ======================================
//  Variables
// ======================================

// Colors

$aquagreen: #58e1c1;
$orange: #fd7856;
$purple: #927bc1;
$green: #63cc82;
$grey: #777;

// Breakpoints
$breakpoints: (
  'xs': 575px, 
  'sm': 576px,
 'med': 768px,
  'lg': 992px,  
);